body{
  background-image: url(22.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#root {
  text-align: center;
  padding-top: 150px;
}

.crystal {
  width: 100px;
  height: 100px;
  transform: rotate(45deg);
  display: inline-block;
  margin: 40px;
  cursor: pointer;
}

.crystal:hover {
  transform: rotate(135deg) scale(1.2);
  transition: .5s all;
}

.crystal:active {
  transform: rotate(135deg) scale(1);
  transition: .2s all;
}

.red {
  background: #ffe752e8;
}

.blue {
  background:darksalmon;
}

.green {
  background: #40d8dd;
}

